.paddingLR30 {
    padding: 0 30px 0 30px;
}

.dumpimg1 {
    background-image: url(../images/dumpimg/1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.dumpimg2 {
    background-image: url(../images/dumpimg/2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.dumpimg3 {
    background-image: url(../images/dumpimg/3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.dumpimg4 {
    background-image: url(../images/dumpimg/4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.dumpimg5 {
    background-image: url(../images/dumpimg/5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.brand {
    font-size: 2rem;
}

.circle-bg {
    background-image: url(../images/icon-bg/circle.png);
    background-size: cover;
    height: 100px;
    width: 100px;
    background-repeat: no-repeat;
}

.centered {
    position: relative;
    top: 50%;
    left: 50%;
    width: 100px;
    text-align: center;
    transform: translate(-50%, -50%);
}