@font-face {
    font-family: 'GenJyuuGothic-Monospace-Regular';
    src: url('../fonts/genjyuugothic/GenJyuuGothic-Monospace-Regular.ttf') format("truetype");
}

html,
body {
    font-family: 'GenJyuuGothic-Monospace-Regular';
    height: 100%;
}

.centerall {
    margin: 0px auto;
}

.setborder {
    border: 1px solid red;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-item {
    flex: 1 auto;
}

.entrance-text {
    font-size: 2rem;
    text-align: center;
    vertical-align: middle;
}

.entrance {
    display: flex;
    width: 300px;
    height: 300px;
    margin: 100px 200px 50px 200px;
    justify-content: center;
    align-items: center;
    background: url(../images/icon-bg/circle.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 300px 300px;
}

.entrance:hover {
    cursor: pointer;
}

.footer-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 35px;
}

.footer-icon {
    display: inline-block;
    vertical-align: middle;
    height: 30px;
    width: 30px;
    background-image: url(../images/icons/gmap.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.large-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
}

.large-4 {
    -ms-flex-preferred-size: 33.33333%;
    flex-basis: 33.33333%;
    max-width: 33.33333%;
}

.large-5 {
    -ms-flex-preferred-size: 41.66667%;
    flex-basis: 41.66667%;
    max-width: 41.66667%;
}

.large-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
}

.large-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
}

.large-offset-1 {
    margin-left: 8.33333%;
}

@media only screen and (max-width: 734px) {
    .small-centered {
        margin-left: auto;
        margin-right: auto;
    }
    .small-11 {
        -ms-flex-preferred-size: 91.66667%;
        flex-basis: 91.66667%;
        max-width: 91.66667%;
    }
    .small-12 {
        flex-basis: 100%;
        max-width: 100%;
    }
    .brand-title {
        font-size: 1.75rem;
        margin-left: 0.25rem !important;
        margin-right: 0.25rem !important;
        font-weight: 500;
        line-height: 1.2;
    }
    .nav-link {
        line-height: 60px;
        font-size: 1.5rem;
        font-weight: 500;
    }
    .modal-dialog {
        max-width: 80vw;
    }
}

@media only screen and (max-width: 1068px) {
    .medium-5 {
        -ms-flex-preferred-size: 41.66667%;
        flex-basis: 41.66667%;
        max-width: 41.66667%;
    }
    .medium-7 {
        -ms-flex-preferred-size: 58.33333%;
        flex-basis: 58.33333%;
        max-width: 58.33333%;
    }
    .medium-offset-1 {
        margin-left: 8.33333%;
    }
    .brand-title {
        font-size: 1.75rem;
        margin-left: 0.25rem !important;
        margin-right: 0.25rem !important;
        font-weight: 500;
        line-height: 1.2;
    }
    .nav-link {
        line-height: 60px;
        font-size: 1.5rem;
        font-weight: 500;
    }
    .modal-dialog {
        max-width: 70vw;
    }
}