@font-face {
    font-family: 'GenJyuuGothic-Monospace-Regular';
    src: url('../fonts/genjyuugothic/GenJyuuGothic-Monospace-Regular.ttf') format("truetype");
}

html,
body {
    font-family: 'GenJyuuGothic-Monospace-Regular';
    height: 100%;
}
#page-content {
    flex: 1 0 auto;
}

#sticky-footer {
    flex-shrink: none;
}

@media (min-width: 414px) {
    .modal-dialog {
        max-width: 96vw;
    }
}


@media (min-width: 768px) {
    .modal-dialog {
        max-width: 90vw;
    }
}

@media (min-width: 992px) {
    .modal-dialog {
        max-width: 80vw;
    }
}

@media (min-width: 1200px) {
    .modal-dialog {
        max-width: 70vw;
    }
}
