.border1 {
  border: 1px solid red;
}
.border2 {
  border: 1px solid green;
}
.alignLeft {
  text-align: left;
}

.alignCenter {
  text-align: center;
}

.alignRight {
  text-align: right;
}

.item_verticalcenter {
  align-items: center;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

.color-orange1 {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f9f570+-1,fd9e21+0,f9f570+0,f9f570+20,f9f570+20,fd9e21+100 */
  background: #f9f570;
  /* Old browsers */
  background: -moz-radial-gradient(
    center,
    ellipse cover,
    #f9f570 -1%,
    #fd9e21 0%,
    #f9f570 0%,
    #f9f570 20%,
    #f9f570 20%,
    #fd9e21 100%
  );
  /* FF3.6-15 */
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    #f9f570 -1%,
    #fd9e21 0%,
    #f9f570 0%,
    #f9f570 20%,
    #f9f570 20%,
    #fd9e21 100%
  );
  /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(
    ellipse at center,
    #f9f570 -1%,
    #fd9e21 0%,
    #f9f570 0%,
    #f9f570 20%,
    #f9f570 20%,
    #fd9e21 100%
  );
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f9f570', endColorstr='#fd9e21', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}

.about_us_bg {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f4f4f4+0,f6cd93+100 */
  background: #f4f4f4; /* Old browsers */
  background: -moz-radial-gradient(
    center,
    ellipse cover,
    #f4f4f4 0%,
    #f6cd93 100%
  ); /* FF3.6-15 */
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    #f4f4f4 0%,
    #f6cd93 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(
    ellipse at center,
    #f4f4f4 0%,
    #f6cd93 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#f6cd93',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.bg1 {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f5b082+0,f2f2f2+0,f2f2f2+12,ea995b+100 */
  background: #f5b082; /* Old browsers */
  background: -moz-linear-gradient(
    45deg,
    #f5b082 0%,
    #f2f2f2 0%,
    #f2f2f2 12%,
    #ea995b 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    45deg,
    #f5b082 0%,
    #f2f2f2 0%,
    #f2f2f2 12%,
    #ea995b 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    45deg,
    #f5b082 0%,
    #f2f2f2 0%,
    #f2f2f2 12%,
    #ea995b 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5b082', endColorstr='#ea995b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.bg2 {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fefcea+0,f7e89c+0,f7e89c+58,fefcea+100 */
  background: #fefcea; /* Old browsers */
  background: -moz-radial-gradient(
    center,
    ellipse cover,
    #fefcea 0%,
    #f7e89c 0%,
    #f7e89c 58%,
    #fefcea 100%
  ); /* FF3.6-15 */
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    #fefcea 0%,
    #f7e89c 0%,
    #f7e89c 58%,
    #fefcea 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(
    ellipse at center,
    #fefcea 0%,
    #f7e89c 0%,
    #f7e89c 58%,
    #fefcea 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefcea', endColorstr='#fefcea',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.bg3 {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#29c427+0,a0e5a2+100&0.49+0,1+100 */
  background: -moz-linear-gradient(
    left,
    rgba(41, 196, 39, 0.49) 0%,
    rgba(160, 229, 162, 1) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    left,
    rgba(41, 196, 39, 0.49) 0%,
    rgba(160, 229, 162, 1) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to right,
    rgba(41, 196, 39, 0.49) 0%,
    rgba(160, 229, 162, 1) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d29c427', endColorstr='#a0e5a2',GradientType=1 ); /* IE6-9 */
}

.bg4 {
  background: #eaeaea;
}
.div_radius25 {
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
}

.div_radius25lt {
  border-radius: 25px 0px 0px 0px;
  -webkit-border-radius: 25px 0px 0px 0px;
  -moz-border-radius: 25px 0px 0px 0px;
}

.div_radius25rt {
  border-radius: 0px 25px 0px 0px;
  -webkit-border-radius: 0px 25px 0px 0px;
  -moz-border-radius: 0px 25px 0px 0px;
}

.div_radius25lb {
  border-radius: 0px 0px 0px 25px;
  -webkit-border-radius: 0px 0px 0px 25px;
  -moz-border-radius: 0px 0px 0px 25px;
}

.div_radius25rb {
  border-radius: 0px 0px 25px 0px;
  -webkit-border-radius: 0px 0px 25px 0px;
  -moz-border-radius: 0px 0px 25px 0px;
}

.btn-more {
  background: #f9cb9c;
  background: linear-gradient(#f9cb9c, #e75d30);
  border: 1px solid #b45f06;
  border-radius: 1000px;
  box-shadow: 0 1px #000000;
  padding: 3px 18px;
  color: #ffffff;
  display: inline-block;
  font: normal normal 1.5rem "Zenhei", sans-serif;
  text-align: center;
  text-shadow: 1px 1px #000000;
}

.inline {
  display: inline;
  vertical-align: middle;
}
